body {
	margin: 0;
	padding: 0;
}

h4 {
	margin: 1em 0;
}

/*Navbar & footer*/
	#header, footer {
		color: #253e5e;
		z-index: 9;
	}

	#header {
		top: 0;
		position: sticky;
		position: -webkit-sticky;
		background-color: #fff;
	}

	footer {
		bottom: 0;
		background-color: #00a7e1;
	}

	.navbar-light .navbar-brand {
		color: #2e577d;
	}

	.navbar-light .navbar-brand:hover {
		color: #2e577d;
	}

	/*.navbar-light .navbar-nav > .active {
		background-color: white;
		It works, but it's ugly.
	}*/

	.navbar-light .navbar-nav > .active > .nav-link {
		color: #0b4378;
	}

	nav a, footer a {
		color: #2e577d;
	}

	#search-contain {
		white-space: nowrap;
		display: inline-block;
	}

	.src-btn{
		margin: 0 3px 0 3px;
	}

	.dropdown {
		margin: 0 5px 0 0;
	}

	#bar-id-pic {
		width: 30px;
		height: 30px;
		-webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
	}


/*Popup*/
	.popup {
		position: fixed;
		top: 25%;
		left: 50%;
		z-index: 9999;
	}

	.popup .popup-body {
		background-color: #ffffff;
		opacity: 1;
		min-height: 150px;
		width: 400px;
		margin-left: -200px;
		padding: 20px;
		position: relative;
		-moz-box-shadow: 1px 2px 3px 1px rgb(185, 185, 185);
		-webkit-box-shadow: 1px 2px 3px 1px rgb(185, 185, 185);
		box-shadow: 1px 2px 3px 1px rgb(185, 185, 185);
		text-align: center;
		border: 1px solid #e9e9e9;
	}

	.popup .popup-exit {
		cursor: pointer;
		display: block;
		margin: auto;
	}

	.popup-content .popup-title {
		font-size: 24px;
		border-bottom: 1px solid #e9e9e9;
		padding-bottom: 10px;
	}
	.popup-content p button {
		font-size: 15px;
		text-align: center;
		white-space: pre-wrap;
	}

	.popup.visible .popup-body {
		opacity: 1;
	}

/*Removes dotted outlines*/
button:focus,
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: none !important;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}