body {
	width: 100%;
}

#mainContainer {
	width: 100%;
}

#firstView {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column;
}

	.carousel {
	  width: 100%; /*slider width*/
		height: 80vh;
		flex: 0 1 auto;
	  z-index: 2;
	}

		.carousel-inner {
	  	width: 100%; /*slider width*/
	  	height: 100%;
		}
	
		.carousel-item {
		  height: 100%;
		  min-height: 80%;
		  background: no-repeat center center scroll;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  opacity: 0.8;
		  filter: alpha(opacity=80);
		}

		#firstSlide {
			background-image: url(../media/group1.jpg);
		}
		
		#secondSlide {
			background-image: url(../media/mani.jpg);
		}
	
		#thirdSlide {
			background-image: url(../media/people.jpg);
		}
	
		.carousel-caption {
			text-shadow: 0 1px 4px rgba(0, 0, 0, 0.90); 
			height: 120px; 
			color: #dedede;  
			background: rgba(0,0,0,0.5); 
			left: 0px; 
			width: 100%;
		}

	#continue {
		width: 100%;
		height: 7vh;
		flex-grow: 1;
		padding: 0 0 0 0;
		margin: 0 0 5vh 0;
		background-color: #fff;
		position: relative;
		bottom: 0;
		box-sizing: border-box;
		z-index: 7;
	}

		#continueBtn {
			height: 100%;
			min-height: 30px;
  			border: none;
  			margin: 0;
  			text-decoration: none;
  			background: #3e92cc;
  			color: #fff;
  			font-family: sans-serif;
  			font-size: 17px;
  			cursor: pointer;
  			text-align: center;
  			box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.1);	
  			transition: background 250ms ease-in-out, 
  		    	        transform 150ms ease;
  			-webkit-appearance: none;
			-moz-appearance: none;
			z-index: 8;
		}	
	
.contain {
	height: 100%;
}

.feature {
	display: flex;
}

#secondView{
	background-color: #fefefe;
	padding: 5vh 5vh 5vh 5vh;
}

#thirdView{
	background-color: cornflowerblue;
}

#fourthView{
	background-color: aqua;
}

.page-footer {
	bottom: 0;
}

section {
  padding: 5vh 0;
}

.text-primary {
	color: #00a7e1 !important;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 6vh;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.col-md-4 {
	margin-bottom: 20px;
}

#desc {
	margin: auto;
	padding: 0 50px;
}

.avatar {
	padding: 5% 10%;
}

.avatar-text {
	padding: 10px;
}

@media (min-width: 768px) {
  section {
    padding: 5vh 0;
  }
}
