body {
  background-color: #191919;
  font-family: "Arial", Arial, sans-serif;
	color: #444;
}

legend {
	display: block;
	position: relative;
}

p {
  white-space: pre-wrap;
  max-width: 340px;
  width: 80vh;
  word-wrap: break-word;
  text-align: left;
  padding: 10px 0 0 0;
}

/*Main container. Flexbox.*/
.container {
  display: flex;
  padding: 5vh;
  margin: 5vh auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; 
}

/*Log in/sign up containers.*/
.form-group {
  display: block;
  background: #fff;
  padding: 3vh 5vh 5vh 5vh;
  margin: 5vh;
  border-radius: 10px;
  align-items: center;
  flex-grow: 0;
  flex-basis: auto;
}

fieldset {
	display: block;
	align-items: center;
}

.btn-container {
  text-align: center;
}

form {
  max-width: 350px;
  width: 70vmin;
}

/*Form fields*/
input, select {
  display: block;  
  padding: 5px;
  margin: 1vh 1vh 5vh 1vh;
  border: none;
  border-radius: 5px;
  background: #eee;
  color: #333;
}

input[type=radio] {
	display: inline;
	padding: 0 0 0 10px;
	margin: 0;
	border: none;
}

/*Field descriptions*/
label {
  font-family: "Arial", Arial, sans-serif;
  margin: 10px 0 0 0;
  max-width: 340px;
  width: 80vh;
  word-wrap: break-word;
}

button {
	position: relative;
  left: auto;
  margin-top: 20px;
  border-radius: 10px;
}


@media only screen and (max-width: 400px) {
	body {
    background-color: #ffffff;
  }
  
  .container {
    display: flex;
    padding: 0vh;
    margin: 0vh auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
	}
}