body {
  background-color: #3e92cc;
  font-family: "Arial", Arial, sans-serif;
	color: #444;
}

legend {
	display: block;
  position: relative;
  margin: 0 0 4vh 0;
}

p, #blurb {
  white-space: pre-wrap;
  max-width: 360px;
  width: 80vh;
  word-wrap: break-word;
  text-align: left;
  padding: 1vh 0 0 0;
  margin-bottom: 1vh;
}

/*Main container. Flexbox.*/
.container {
  display: flex;
  padding: 0vh;
  margin: 3vh auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; 
}

/*Log in/sign up containers.*/
.form-group {
  display: block;
  background: #fff;
  padding: 5vh;
  margin: 5vh;
  border-radius: 10px;
  align-items: center;
  flex-grow: 0;
  flex-basis: auto;
}

.field {
  margin: 1vh;
  box-sizing: content-box;
}

fieldset {
  box-sizing: content-box;
	display: block;
	align-items: center;
}

.btn-container {
  text-align: center;
  margin-top: 20px;
}

.form-in {
  max-width: 450px;
  width: 70vw;
}

/*Form fields*/
.input-in, .select-in {
  display: inline;  
  padding: 5px;
  margin: 0vh 0vh 2vh 0vh;
  color: #333;
}

.input-in[type=radio] {
	display: inline;
	padding: 0 0 0 10px;
	margin: 0;
	border: none;
}

/*Field descriptions*/
label {
  font-family: "Arial", Arial, sans-serif;
  margin: 5px 10px 0 0;
  word-wrap: break-word;
}

#privacy-label {
  align-items: center;
  border: 1px #191919;
}

#blurb {
  margin: 0 2vw;
}

.captcha-box {
  display: flex;
  justify-content: center;
  margin: 3vh;
}

#upload_picture, #picture {
  display: block;
  margin: 5px 0 2vh 0;
}

#descrizione {
  min-height: 100px;
}

@media only screen and (max-width: 500px) {
	body {
    background-color: #ffffff;
  }
  
  .container {
    display: flex;
    padding: 0vmin;
    margin: 0vmin auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
	}
}