.album-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  margin: 20px 0;
}

.proposal-card {
  margin: 10px;
  min-width: 100px;
  max-width: 350px;
  box-sizing: content-box;
}

.proposal-card p {
  white-space: pre-wrap;
}

.row {
  justify-content: center;
}

#proposal-container {
  margin-top: 20px;
}

.card-img-top {
  max-width: 350px;
  max-height: 350px;
}

#notice-account {
  flex-grow: 1;
  width: 100%;
  text-align: center;
}

.proposer-name {
  color: #5b9bd1;
  text-decoration: underline;
  cursor: pointer !important;
}

.profile-overlay {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  padding: 20px 25px;
  min-width: 200px;
  min-height: 100px;
  max-width: 500px;
  z-index: 8;
  border: 1px solid #93a3b5;
  transition: visibility 0s, opacity 0.25s linear;
}

.profile-overlay .profile-userpic img {
  margin: 10px auto;
  width: 100px;
  height: 100px;
}

.profile-overlay .hover-desc {
  text-align: center;
}

.btn {
  white-space: normal;
  max-width: 250px;
}

#errmessage {
  color: red;
}

/*
.proposer-name:hover .profile-overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}*/