  body {
    background: #F1F3FA;
  }

  .container {
    width: 100%;
  }
  
  section {
    margin: 10vh 2vw;   
    padding: 2vmin;
  }

  /* Profile container */
  .profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
    box-sizing: content-box;
  }

  .profile-userpic-side {
    padding: 10% 20%;
    margin: auto;
  }

  .profile-userpic-card {
    width: 100%;
    margin: auto;
  }

  .profile-userpic-inner {
    height: 0;
    overflow: hidden;
    margin: auto;
    padding-top: 100%;
    position: relative;
  }

  .profile-userpic-side img {
    text-align: center;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }

  .profile-userpic-card img {
      text-align: center;
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      width: 50%;
      max-width: 120px;
      height: 50%;
      max-height: 120px;
      -webkit-border-radius: 50% !important;
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      border-radius: 50% !important;
  }

  .btn-crc-container {
    position: relative;
    left: 80%;
    top: 50%  ;
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    text-align: center;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profile-usermenu {
    margin: 30px 2px 2px 2px;
  }
  
  .profile-usermenu ul li {
    display: block;
    margin: 10px;
    white-space: nowrap;
    box-sizing: border-box;
    flex: 1 0 50%;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 16px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -12px;
    padding-left: 8px;
  }


  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #fff;
  }

  .profile-card {
    width: 100%;
    box-sizing: border-box; 
  }

  .caps {
    display: inline;
    text-transform: uppercase;
  }