Order deny,allow
Deny from all
<FilesMatch "ajax_profile\.php|accept_proposal\.php|delete_proposal.php|turn_down_proposal.php">
  Allow from all
</FilesMatch>
# send_email.php
# proposalform_serverchecks.php
# proposalform_js
# proposalform_html

